@charset "UTF-8";

/* -----------------------------------------------------------
   Base
----------------------------------------------------------- */
body{
	@include font-family("hiragino");
	line-height: rs(18,14, "");
	font-size: rs(14,16);
	color: $color;
	-webkit-text-size-adjust: 100%;
}

a:link,
a:visited{
	color: $linkcolor;
	text-decoration: none;
}

a:hover,
a:active,
a:focus{
	color: $hovercolor;
	text-decoration: underline;
}

@include default-margin(1em,true);
