@charset "UTF-8";

/* -----------------------------------------------------------
   Base
----------------------------------------------------------- */
// For Android Bug
// div,p,li,th,td{
// 	background-color:rgba(255,255,255,.001);
// }

body{
	@include font-family("hiragino");
	line-height: rs(18,14, "");
	font-size: rs(14,$basefz);
	color: $color;
	-webkit-text-size-adjust: 100%;
}

a:link,
a:visited{
	color: $linkcolor;
	text-decoration: none;
}

a:hover,
a:active,
a:focus{
	color: $hovercolor;
	text-decoration: underline;
}

img{
	width: auto;
	max-width: 100%;
	height: auto;
}

// @include default-margin(1em,true);

%list-reset{
	padding: 0;
	list-style: none;
}
