@charset "UTF-8";

// -----------------------------------------------------------
// Section
// -----------------------------------------------------------


// -----------------------------------------------------------
// Layout
// -----------------------------------------------------------
@include lyt-module-base;
@include lyt-image;


// -----------------------------------------------------------
// Headings
// -----------------------------------------------------------



// -----------------------------------------------------------
// Paragraphs
// -----------------------------------------------------------
@include text-align;


// -----------------------------------------------------------
// Lists
// -----------------------------------------------------------


// -----------------------------------------------------------
// Tables
// -----------------------------------------------------------


// -----------------------------------------------------------
// Form
// -----------------------------------------------------------
.form{
	margin-bottom: 2em;
	th{
		width: 33%;
		strong{
			color: #c00;
			font-size: rs(12,14);
		}
	}
	input[type="text"],
	textarea{
		padding: 5px;
		border: 1px solid #aaa;
		border-radius: 3px;
		&:focus{
			border-color: #f90;
		}
	}
	input[type="text"]{
		width: 50%;
	}
	textarea{
		width: 90%;
		resize: vertical;
	}
}


// -----------------------------------------------------------
// Navigation
// -----------------------------------------------------------


// -----------------------------------------------------------
// Etc
// -----------------------------------------------------------
@include margin-utility;


// -----------------------------------------------------------
// Editor Edit Area
// -----------------------------------------------------------
.editable{
	@extend %clearfix;
}
