@charset "UTF-8";

/* ===== Multi Screen ===== */
// Major
@media screen and (max-width: 979px) {

img{
	max-width: 100%;
	height: auto;
}

.contents{
	margin: 0 10px;
	width: auto;
}

}


// Major
@media screen and (max-width: 767px) {

@include mt-float-clearing;

}


// For iPhone
@media screen and (max-width: 480px) {

.form{
	input,
	textarea{
		font-size: 16px;
	}
}

}


// Major
@media screen and (max-width: 479px) {

.form{
	border: 1px solid #422107;
	border-bottom: none;
	width: 100%;
	display: block;
	tbody,
	tr,
	th,
	td{
		display: block;
	}
	th,
	td{
		border: none;
	}
	th{
		width: auto;
		border-bottom: 1px dotted #422107;
	}
	td{
		border-bottom: 1px solid #422107;
		@include box-sizing(border-box);
		width: 100%;
	}
}

}
