// # Document Type
//
// HTML文書の文書型定義。
$doc-html5: true;

// # Wide-use Variables
//
// 汎用的に利用する変数を定義。
$tmp: "";

// Color Settings
$color: #000;
$linkcolor: #1440ff;
// $visitedcolor: #6c14ff;
$hovercolor: #f60;

// Bourbon Neat
// $border-box-sizing: false;
// $max-width: 1000px;
// $grid-columns: 6;
// $gutter: 0.57em;
