<div class="codeExample">
<div class="exampleOutput">
</div>
<div class="codeBlock">
<div class="highlight">
<pre><%= code_example %></pre>
</div>
</div>
<template class="renderedExampleTmpl">
<style>
@import url(common/css/basic.css);
</style>
<%= rendered_example %>
</template>
</div>
