block variables
doctype html
html(lang="ja")
  head
    include /_partial/_meta

  body
    include /_partial/_header

    block content

    include /_partial/_footer
    include /_partial/_foot_script
