<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Style Guide <%= title %></title>
<!-- CSS to be documented -->
<!--
<link rel="stylesheet" href="common/css/basic.css">
<link rel="stylesheet" href="common/css/font-awesome.css">
-->
<!-- Styleguide CSS -->
<link rel="stylesheet" href="styleguide_parts/css/basic.css">
</head>

<body>
<header class="page-header">
<div class="page-header-content">
<h1 class="page-header-hdg">○○株式会社様公式ウェブサイト モジュール一覧</h1>
</div><!-- /.page-header-content -->
</header>

<main role="main">
<div class="page-contents">
<p>コードのレンダリングサンプルは、Web Componentsをサポートしたブラウザ（2016年2月現在、Google Chrome）で正しくご覧いただけます。</p>

<div class="page-nav">
<ul class="list-modules-01">
<% @blocks.each do |block| %>
<li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
<% end %>
</ul>
</div><!-- /.page-nav -->

<div class="page-main">
