footer
  .layout.-bigFooter
    .layout__inner
    // /.layout__inner
  // /.layout

  .layout.-copyright
    .layout__inner
      .copyright
        small ©︎ 2020 Site Name.
    // /.layout__inner
  // /.layout
