// # 標準マージン（下方向）
//
// ## 引数:
// * `margin`: マージンサイズ
// * `nest-rule`: リストのネスト・テーブル内の各要素のマージン打ち消しコードを出力するか
@mixin default-margin($margin: 1em, $nest-rule: true) {
	p,
	ul,
	ol,
	dl,
	table{
		margin-bottom: $margin;
	}
	
	@if $nest-rule {
		ul ul,
		ul ol,
		ol ol,
		ol ul,
		table p,
		table ul,
		table ol,
		table dl{
			margin-bottom: 0;
		}
	}
}


// # レイアウトモジュールのベース
//
// ## 引数:
// なし
@mixin lyt-module-base {
	.lyt-image,
	.lyt-column{
		@extend %clearfix;
	}
}


// # 画像レイアウト（基本）
//
// ## 引数:
// * `margin`: 左/右マージンサイズ
@mixin lyt-image($margin: 20px) {
	.lyt-image{
		&.image-R{
			.image{
				float: right;
				margin-left: $margin;
			}
		}
		&.image-L{
			.image{
				float: left;
				margin-right: $margin;
			}
		}
		&.image-parallel{
			.text{
				overflow: hidden;
			}
		}
	}
}

// # カラムレイアウト（基本）
//
// ## 引数:
// * `margin`: カラム間マージンサイズ
@mixin lyt-column($margin: 20px) {
	.lyt-column{
		>.column{
			float: left;
			margin-right: $margin;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}


// # 注釈リスト
//
// ## 引数:
// なし
@mixin list-notice {
	>li{
		position: relative;
		padding-left: 1.2em;
		_zoom: 1;
		.marker{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

// # 標準順序リスト
//
// ## 引数:
// * `margin-left`: 左マージンサイズ
@mixin list-ordered($margin-left: 25px) {
	>li{
		margin-left: $margin-left;
		list-style: decimal outside;
	}
}

// # 枠線付きテーブル
//
// ## 引数:
// * `border-color`: 枠線色
// * `cell-padding`: セル内余白
// * `width`: テーブル幅
@mixin bordered-table($border-color: #000, $cell-padding: 5px, $width: auto) {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: $border-color;
	width: $width;
	th,
	td{
		padding: $cell-padding;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: $border-color;
	}
}


// # 文字揃え
//
// ## 引数:
// なし
@mixin text-align {
	.align-L{
		text-align:left !important;
	}
	
	.align-C{
		text-align: center !important;
	}
	
	.align-R{
		text-align: right !important;
	}
}


// # グリッドモジュールの下方向マージン打ち消し
//
// ## 引数:
// * `column`: 1行のカラム数
// * `nestlevel`: ネストレベル

// ## 参考:
// http://blog.keithclark.co.uk/targeting-first-and-last-rows-in-css-grid-layouts/
@mixin grid-lastrows-utility($column, $grid-item-tag: "li") {
	$selector: &;
	&:nth-child(#{$column}n+1):nth-last-child(-n+#{$column}),
	&:nth-child(#{$column}n+1):nth-last-child(-n+#{$column}) ~ #{$grid-item-tag}{
		margin-bottom: 0;
	}
}


// # 下方向マージンユーティリティ
//
// ## 引数:
// なし
@mixin margin-utility {
	.mod-mb-non{
		margin-bottom: 0 !important;
	}
}


// # MTのエディタで挿入した画像のfloat強制解除
//
// ## 引数:
// なし
@mixin mt-float-clearing {
	.mt-image-left,
	.mt-image-right{
		display: block;
		float: none !important;
		margin: 0 0 1em !important;
	}
}
