// # Reset CSS
//
// Based on Eric Meyer's Reset CSS.
// http://meyerweb.com/eric/tools/css/reset/
@mixin reset-common {
	html, body,
	address,
	div, span,
	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre,
	ul, ol, li, dl, dt, dd,
	table, caption, thead, tbody, tfoot, tr, th, td,
	form, fieldset, legend, label, input, textarea, select,
	object, iframe, embed,
	img, a, em, strong, b, i, mark, small,
	sub, sup, abbr, cite, q, ruby,
	ins, del, dfn, code, var, samp, kbd{
		margin: 0;
		padding: 0;
	}
	
	@if $doc-html5{
		article, section, aside, header, footer, nav,
		hgroup,
		figure, figcaption,
		video, audio, canvas,
		time{
			margin: 0;
		}
	}
	
	html{
		overflow-y: scroll;
		font-size: 100.01%;
	}
	
	h1, h2, h3, h4, h5, h6{
		font-weight: bold;
		font-size: 100%;
	}
	
	em{
		font-style: normal;
	}
	
	ol, ul{
		list-style: none;
	}
	
	blockquote, q{
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after{
		content: "";
		content: none;
	}
	
	pre, code, kbd, samp{
		font-family: monospace;
	}
	
	img{
		border: none;
		vertical-align: bottom;
		a &{
			vertical-align: middle;
		}
	}
	
	table{
		border-collapse: collapse;
		font-size: inherit;
	}
	
	caption, th{
		font-weight: normal;
		text-align: left;
	}
	
	input, select, textarea{
		vertical-align: middle;
		font-size: inherit;
	}
	
	@if $doc-html5{
		// HTML5 display-role reset for older browsers
		article, section, aside, header, footer, nav, address,
		hgroup, figcaption, figure{
			display: block;
		}
	}
}
