<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<title></title>
<link rel="stylesheet" href="/common/css/basic.css">
<!--[if lt IE 9]><script src="/common/js/components/html5shiv-printshiv.min.js"></script><![endif]-->
<script>
// ga.js
// var _gaq = _gaq || [];
// _gaq.push(['_setAccount', 'UA-00000000-00']);
// _gaq.push(['_trackPageview']);
// (function() {
//     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
// })();

// analytics.js
// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
// (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
// m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
// })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
// ga('create', 'UA-00000000-00', 'auto');
// ga('send', 'pageview');
</script>
</head>

<body>
<div class="page-container">
<header role="banner" class="page-header">
</header>

<main role="main">
<h1>Generator Skyward</h1>
</main>

<footer role="contentinfo" class="page-footer">
</footer>
</div><!-- /.page-container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
window.jQuery || document.write("<script src='/common/js/components/jquery.min.js'>\x3C/script>");
</script>
</body>
</html>
