<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<title></title>
<link rel="stylesheet" href="/common/css/basic.css">
<!--[if lt IE 9]><script src="/common/js/html5shiv-printshiv.js"></script><![endif]-->
<script>
var _gaq = _gaq || [];
// _gaq.push(['_setAccount', 'UA-00000000-00']);
// _gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>

<body>
<div class="page-container">
<header role="banner" class="page-header">
</header>

<main role="main">
<h1>Generator Skyward</h1>
</main>

<footer role="contentinfo" class="page-footer">
</footer>
</div><!-- /.page-container -->
</body>
</html>
